.background {
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/60507/maize-corn-indian-corn-vegetables-60507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}